.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.weather-img {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.weather-img>img {
  max-width: 100%;
}